<!DOCTYPE html>
<html>
  <head>
    <title>Hello, there!</title>
    <meta charset="utf8" />
  </head>

  <body>
    <div id="loader-wrapper"><div id="loader"></div></div>
    <div id="root"></div>

    <script>
      var appConfig = "testersoning";
    </script>
  </body>
</html>
